.feinman__title {
    position: absolute;
    margin: auto;
    text-align: center;
    top: 80px;
    width: 648px; 
    font-size: 120px;
    line-height: 1.15;
    font-weight: bold;
    z-index: 2;
}