.feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    font-size: 36px;
    line-height: 51px;
    z-index: 2;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 1100px) {
    .feinman__link {
        top: 60%;
    }
}