.two-columns__brief {
    max-width:  175px;
    font-size: 18px;
    line-height: 1.2;
    color: #2E7FEC;
}

@media screen and (max-width: 400px){
    .two-columns__brief{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 401px) and (max-width: 768px){
    .two-columns__brief {
        margin-right: 20px;
    }
}