.video__iframes-item {
    border: 0px;
    width: 515px;
    height: 316px;
}

@media screen and (max-width: 520px) {
    .video__iframes-item {
        width: 100%;
    }
}

@media screen and (max-width: 1110px) {
    .video__iframes-item {
        margin: 0 auto 20px auto;
    }
}